@use "@assets/variables";

.form {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 15px;

  width: 300px;
  max-width: 100vw;

  .input,
  .button {
    width: 100%;
  }

  .error {
    color: red;
    margin-top: 10px;
    font-size: 12px;
  }
}
