@use "@assets/variables";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  input,
  button {
    width: 300px;
    max-width: 100vw;
    padding: 10px 15px;
  }

  button {
    border-radius: 6px;
    background-color: inherit;
    border: 1px solid variables.$light-border-color;

    &:hover {
      cursor: pointer;
      background: variables.$light-background-color;
    }
  }

  .error {
    color: red;
    margin-top: 10px;
    font-size: 12px;
  }
}
